/* Write your code here: */

  h1, h2{                    /*group*/
    color: blueviolet;
 }

 .box>p{                     /*child*/
    color : firebrick;
 }

 .box li{                   /*descendant*/
    color : blue;
 }

 li.done{                    /*chain*/
    color : seagreen;
 }

 ul p.done{                 /*combine combinerers*/
    font-size : 0.5rem;
 }